@import "tailwindcss";

@layer base {
  body {
    @apply bg-gray-50 text-gray-900 text-sm;
  }
}

@keyframes alertPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.7);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}

.alert-glow {
  animation: alertPulse 2s infinite;
  border: 4px solid #ef4444 !important;
  z-index: 1;
}